body{
    background-color: hsl(0, 0%, 90%);

}
h1{
    color: white;
    font-weight: bold;
    background-color: hsl(230, 90%, 12%);
    text-align: center;
    padding: 10px;
}
#loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#forgotPasswordPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resetPasswordPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userDataPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logInBtn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logInBtn2{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#registerBtn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#newRegisterBtn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#forgotPasswordBtn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#newPasswordBtn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#requirePasswordBtn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logOutBtn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
img{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    scale: 1.5;
    
}