*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
html{
  font-size: clamp(16px,8vw,40px);
}
body{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#calc-wrapper{
  background-color: #000000;
  display: grid;
  grid-template-rows: 1fr 5fr;
  gap: .5rem;
  position: relative;
}

#calc-output{
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #737373;
  text-align: end;
  padding: .25rem;
  border-radius: 1rem;
}

#calc-buttons-wrapper{
  background-color: #202020;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(5, 1fr);
  border-radius: 1rem;
}

#left-buttons-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-area: 1/1/6/1;
}
#right-buttons-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-area: 1/2/5/2;
}
#delete-wrapper{
  display: grid;
  justify-content: end;
}
#calc-buttons-wrapper button{
  line-height: 0;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  padding: .5rem;
  margin: .2rem;
  border-radius: 1rem;
}

#left-buttons-wrapper button{
  background-color: #ff6600;
}
#right-buttons-wrapper button{
  background-color: #2b2b2b;
}
#delete-wrapper button{
  font-size: .55rem;
  background-color: #2b2b2b;
}
#logo{
  color:  #121212;
  position: absolute;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
}