:root{
  --mPrimary: hsl(300, 63%, 80%);
  --mAccent: hsl(from var(--mPrimary) h s calc(l - 30));
  --mText: hsl(from var(--mPrimary) h s calc(l + 10));
  --mBackground: hsl(240, 14%, 10%);
  --mSecondary: hsl(from var(--mBackground) h s calc(l + 30));
  --mDarkerSecoundary: hsl(from var(--mSecondary) h s calc(l - 6));
  --mBorder: hsl(0, 0%, 25%);
  --mLightShadow: hsl(300, 63%, 90%);
}
*{
  color: inherit;
}

html{
  font-size: clamp(16px,5vw,50px);
}

body{
  background-color: var(--mBackground);
  justify-items: center;
  color: var(--mText);
}

#messageBox{
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  font-size: .5rem;
  top: .25rem;
  left: .25rem;
  width: 7rem;
  transition: opacity .3s ease-in-out;
}
#messageBox.show{
  opacity: 1;
  pointer-events: auto;
}

main{
  background-color: hsl(from var(--mBackground) h s calc(l - 1));
  padding: .5rem;
  border-radius: .5rem;

  margin-top: 1.5rem;
  display: grid;
  row-gap: .25rem;
}

.infoRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
  border-radius: .30rem;
}

button{
  background-color: var(--mSecondary);
  border: none;
  height: 100%;
  font-size: 1rem;
  border-radius: .25rem;
  padding: .25rem .7rem;
  margin-right: 0rem;
  transition: padding-right .3s ease-out, margin-right .3s ease-out;
}
button:hover{
  padding-right: 1rem;
  margin-right: -.3rem;
}
.infoRow:has(button:hover){
  background: linear-gradient(90deg, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%);
}

.infoRow p{
  font-size: .75rem;
}
.infoRow input{
  text-align: center;
  background-color: var(--mSecondary);
  border: none;
  border-radius: .25rem;
  font-size: 1rem;
  max-width: 4rem;
}
.infoRow input::placeholder{
  text-align: center;
  color: hsl(from var(--mSecondary) h s calc(l + 10));
  font-size: 1rem;
}
.infoRow a{
  font-size: 1rem;
}
a:hover  {color: var(--mPrimary);}
a:active {color: var(--mAccent);}



footer{
  text-align: center;
  position: absolute;
  bottom: .1rem;
  width: 100vw;
  font-size: .5rem;
}
footer a{
  color: inherit;
  background-color: hsla(240, 14%, 10%, 0.808);
  padding: .1rem;
  border-radius: .25rem;
}
footer a span{
  align-self: center;
}




@media (max-width: 300px) {
  body{
    display: none;
  }
  html{
    background-color: black;
  }
}

#secretInput{
  z-index: 10;
  text-align: end;
  color: var(--mSecondary);
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  font-size: .5rem;
  bottom: 0;
  right: 0;
  width: 3.5rem;
}
#secretInput:hover{
  cursor: default;
}

#parent{
  position: relative;
  height: 1.5rem;
  width: 5rem;
}

.ball{
  position: absolute;
  left: .25rem;
  top: .3rem;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: .5rem;
  
  transition: left 1s;
}
.right{
  transition: left 1s;
  left: 3.7rem;
}

#mini-p{
  font-size: .5rem;
}
#timeinp{
  width: 1.5rem;
  font-size: .4rem;
}
#timeinp::placeholder{
  font-size: .4rem;
}