*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
html{
  font-size: clamp(16px,8vw,40px);
}
body{
  background-color: black;
  display: grid;
  justify-content: center;
  height: 100vh;
}
input{
  color: black;
}
#main-wrapper{
  background-color: #c1b9b967;
  width: 25rem;
}
#add-bar-wrapper{
  display: flex;
  justify-content: space-between;
  gap: .2rem;
  height: 1rem;
}
#event-name{
  width: 7rem;
  transition: width 0.2s ease-out;
}
#right-wrapper{
  display: flex;
  gap: .2rem;
}
#event-name.event-name-focus{
  width: 100%;
  transition: width 0.5s ease-out;
}
.hidden{
  opacity: 0;
}
.shown{
  opacity: 1;
}