*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
html{
  font-size: clamp(16px,8vw,40px);
}
body{
  background-color: black;
  display: grid;
  justify-content: center;
  height: 100vh;
}
input{
  color: black;
}
#main-wrapper{
  background-color: #c1b9b967;
  width: 25rem;
  margin: 1rem;
  padding: .25rem;
  border-radius: .25rem;
}
#add-bar-wrapper{
  display: grid;
  grid-template-columns: 10fr 2fr 2fr 1fr;
  gap: .2rem;
  height: 1rem;
}
#event-name-input{
  width: 7rem;
  transition: width 1s ease-in-out;
}
#event-name-input.event-name-input-focus{
  width: 100%;
  transition: width 1s ease-in-out;
}
#event-time-input.hidden, #event-date-input.hidden{
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#event-time-input.shown, #event-date-input.shown{
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#main-wrapper input,#main-wrapper input{
  font-size: .6rem;
  border-radius: .25rem;
}