*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: clamp(16px,8vw,40px);
}
body{
  background-color: rgb(18, 20, 32);
}
button{
  font-size: 30px;
  width: 40px;
}
.playGround{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
}
.playGround div{
  background-color: #fff;
  border: black solid 1px;
}