*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(18, 20, 32);
}
.playGround{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 150px;
}
.playGround div{
    background-color: #fff;
    width: 100px;
    height: 100px;
}